<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除书籍条目</title>
    <style>
        input:not([type="submit"]) {
            border: 1px solid blue;
        }

        input[type="submit"] {
            background: red;
        }
    </style>
</head>
<body>
<form action="" method="post">
    {#    {% csrf_token %}#}
    <p>
        code:<input type="text" value="{{ user.code }}" disabled="disabled">
    </p>
    <p>
        名字:<input type="text" value="{{ user.name }}" disabled="disabled">
    </p>
    <p>
        type : <input type="text" name="type" value="{{ user.type }}" placeholder="gp">
    </p>
    <p>
        {{ date_var }}值:<input type="text" name="price" value="{{ user[date_var] }}" disabled="disabled">
    </p>
    <p>
        日期:<input type="text" name="date" value="{{ user.date }}" disabled="disabled">
    </p>
    <input type="submit" value="确认删除">
    </p>
</form>
</body>
</html>