<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍信息</title>
</head>
<body>
<form action="/insert" method="post">
    {#    {% csrf_token %}#}
    <div>
        <h3>model类型： DayGrowRate Last1week Last1month FundRand Last6month Last1year </h3>
        <h4>注：FundRand:最近三月</h4>

    </div>
    <p>
        model : <input type="text" name="model" placeholder="DayGrowRate  Last1week Last1month FundRand Last6month Last1year">
    </p>
    <p>
        name : <input type="text" name="name">
    </p>
    <p>
        code : <input type="text" name="code" placeholder="6位数">
    </p>
    <p>
        type : <input type="text" name="type" placeholder="gp">
    </p>
    <p>
        price : <input type="text" name="price">
    </p>
    <p>
        date : <input type="text" name="date" placeholder="2022-08-27">
    </p>

    <p>
        <!--按钮的值提交--> <input type="submit" value="提交">
    </p>
</form>
</body>
</html>