<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>ECharts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='echarts.js') }}"></script>

    {#    <script src="{{ url_for('static',filename='static/echarts.js') }}"></script>#}
    <!--    <script src="templates/static/echarts.js"></script>-->
</head>
<body>
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 1200px;height:800px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    option = {
        title: {
            text: 'Stacked Line'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['混合型', '股票型', '债券型', '指数型', 'FOF型', 'QDII型']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        yAxis: {
            type: 'value'
        },
        xAxis: {},

    };

    // 异步加载数据
    $.get('/echart').done(function (res) {
        // 填入数据
        console.log(res)
        myChart.setOption({
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: res.data
                }
            ],
            series: [
                {
                    name: '混合型',
                    type: 'line',
                    data: res.hh_data
                },
                {
                    name: '股票型',
                    type: 'line',
                    data: res.gp_data
                },
                {
                    name: '债券型',
                    type: 'line',
                    data: res.zq_data
                },
                {
                    name: '指数型',
                    type: 'line',
                    data: res.zs_data
                },
                {
                    name: 'FOF型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.fof_data
                },
                {
                    name: 'QDII型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.qdii_data
                }
            ],
        });
    });

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);


</script>
</body>
</html>