<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>long-term trend 长期趋势</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="{{ url_for('static',filename='jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='echarts.js') }}"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"></script>#}
</head>
<body>

<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 1500px;height:950px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    option = {
        title: {
            text: '最近3月走势'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['混合型', '股票型', '债券型', '指数型', 'FOF型', 'QDII型']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        dataZoom: [
            {
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 1,
                end: 350
            },

            {
                type: 'inside',
                xAxisIndex: [0],
                start: 1,
                end: 350
            },

        ],
        yAxis: {
            type: 'value'
        },

    };

    // 异步加载数据
    $.get('/last3month_2023').done(function (res) {
        // 填入数据
        console.log(res)
        myChart.setOption({
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: res.data
                }
            ],
            series: [
                {
                    name: '混合型',
                    type: 'line',
                    data: res.hh_data
                },
                {
                    name: '股票型',
                    type: 'line',
                    data: res.gp_data
                },
                {
                    name: '债券型',
                    type: 'line',
                    data: res.zq_data
                },
                {
                    name: '指数型',
                    type: 'line',
                    data: res.zs_data
                },
                {
                    name: 'FOF型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.fof_data
                },
                {
                    name: 'QDII型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.qdii_data
                }
            ],
        });
    });

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);


</script>

<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="last6month_2023" style="width: 1500px;height:950px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart_last6month_2023 = echarts.init(document.getElementById('last6month_2023'));

    // 指定图表的配置项和数据
    option = {
        title: {
            text: 'last6month_2023'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['混合型', '股票型', '债券型', '指数型', 'FOF型', 'QDII型']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        dataZoom: [
            {
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 1,
                end: 350
            },

            {
                type: 'inside',
                xAxisIndex: [0],
                start: 1,
                end: 350
            },

        ],
        yAxis: {
            type: 'value'
        },

    };

    // 异步加载数据
    $.get('/last6month_2023').done(function (res) {
        // 填入数据
        console.log(res)
        myChart_last6month_2023.setOption({
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: res.data
                }
            ],
            series: [
                {
                    name: '混合型',
                    type: 'line',
                    data: res.hh_data
                },
                {
                    name: '股票型',
                    type: 'line',
                    data: res.gp_data
                },
                {
                    name: '债券型',
                    type: 'line',
                    data: res.zq_data
                },
                {
                    name: '指数型',
                    type: 'line',
                    data: res.zs_data
                },
                {
                    name: 'FOF型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.fof_data
                },
                {
                    name: 'QDII型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.qdii_data
                }
            ],
        });
    });
    {#option = JSON.stringify(option);#}
    {#option = JSON.parse(option);#}
    // 使用刚指定的配置项和数据显示图表。
    myChart_last6month_2023.setOption(option);


</script>

<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="last1year_2023" style="width: 1500px;height:950px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart_last1year_2023 = echarts.init(document.getElementById('last1year_2023'));

    // 指定图表的配置项和数据
    option = {
        title: {
            text: 'last1year_2023'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['混合型', '股票型', '债券型', '指数型', 'FOF型', 'QDII型']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        dataZoom: [
            {
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 1,
                end: 350
            },

            {
                type: 'inside',
                xAxisIndex: [0],
                start: 1,
                end: 350
            },

        ],
        yAxis: {
            type: 'value'
        },

    };

    // 异步加载数据
    $.get('/last1year_2023').done(function (res) {
        // 填入数据
        console.log(res)
        myChart_last1year_2023.setOption({
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: res.data
                }
            ],
            series: [
                {
                    name: '混合型',
                    type: 'line',
                    data: res.hh_data
                },
                {
                    name: '股票型',
                    type: 'line',
                    data: res.gp_data
                },
                {
                    name: '债券型',
                    type: 'line',
                    data: res.zq_data
                },
                {
                    name: '指数型',
                    type: 'line',
                    data: res.zs_data
                },
                {
                    name: 'FOF型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.fof_data
                },
                {
                    name: 'QDII型',
                    type: 'line',
                    // stack: 'Total',
                    data: res.qdii_data
                }
            ],
        });
    });
    {#option = JSON.stringify(option);#}
    {#option = JSON.parse(option);#}
    // 使用刚指定的配置项和数据显示图表。
    myChart_last1year_2023.setOption(option);
</script>


</body>
</html>