<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<div >
    <a href="/test" class="pp">test</a>
    <a href="/insert" class="pp">插入</a>

    <a href="/show/DayGrowRate" class="pp">DayGrowRate</a>
    <a href="/show/Last1week" class="pp">Last1week</a>
    <a href="/show/Last1month" class="pp">Last1month</a>
    <a href="/show/FundRand" class="pp">最近3月show</a>
    <a href="/show/Last6month" class="pp">Last6month</a>
    <a href="/show/Last1year" class="pp">Last1year</a>
    <a href="/line1">line1_曲线</a>
    <a href="/line2">line2_曲线</a>
    <a href="/line3">line3_曲线</a>
    <a href="/upload">上传数据 </a>
    <a href="/download">下载数据 </a>
    <a href="/new">爬虫添加数据 </a>

</div>

<table>
    <tr>
        <th>基金代码</th>
        <th>名字</th>
        <th>最近3月</th>
        <th>类型</th>
        <th>日期</th>

    </tr>
    {% for each in datas %}
        <tr>
            <td><a href="http://fund.eastmoney.com/{{ each.code }}.html"> {{ each.code }}</a></td>
            <td><a href="http://fund.eastmoney.com/{{ each.code }}.html"> {{ each.name }} </a></td>
            <td>{{ each[date_var] }}</td>  {#变量中套变量#}
            <td>{{ each.type }}</td>
            <td>{{ each.date }}</td>
            <td>
                <a href="/{{ model }}/update/{{ each.id }}">更新</a>
                <a href="/{{ model }}/delete/{{ each.id }}">删除</a>
                <a href="/{{ model }}/batch_delete/{{ each.date }}">批量删除</a>
            </td>
        </tr>
    {% endfor %}

{#<br>#}
</table>


</body>
</html>