<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新书籍表</title>
</head>
<body>
<form action="/update/{{ user.id }}" method="post">
    {#    {% csrf_token %}#}
    <!--    css3 disabled属性 不可选状态/禁用元素-->
    <p>
        code:<input type="text" value="{{ user.code }}" disabled="disabled">
    </p>
    <p>
        名字:<input type="text" value="{{ user.name }}" disabled="disabled">
    </p>
    <p>
        最近3月值:<input type="text" name="price" value="{{ user.last3month }}" >
    </p>
    <p>
        日期:<input type="text" name="date" value="{{ user.date }}">
    </p>

    <p>
        <input type="submit" value="提交">
    </p>
</form>
</body>
</html>