<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新书籍表</title>
</head>
<body>
<form action="/{{ model }}/update/{{ user.id }}" method="post">
    {#    {% csrf_token %}#}
    <!--    css3 disabled属性 不可选状态/禁用元素-->
    <p>
{#        code:<input type="text" value="{{ user.code }}" disabled="disabled">#}
        code:<input type="text" name="code" value="{{ user.code }}" >
    </p>
    <p>
        名字:<input type="text" name="name" value="{{ user.name }}"  >
    </p>
    <p>
        type : <input type="text" name="type" value="{{ user.type }}" placeholder="gp">
    </p>
    <p>
        {{ date_var }} :<input type="text" name="price" value="{{ user[date_var] }}">
    </p>
    <p>
        日期:<input type="text" name="date" value="{{ user.date }}">
    </p>

    <p>
        <input type="submit" value="提交">
    </p>
</form>
</body>
</html>